html,
body {
    height: 100%;
    align-items: center;
    background-color: #f5f5f5;
}

.bg-dark {
    background: #343a40 !important;
}

.form-signin {
    max-width: 400px;
    margin: auto;
}

.navbar {
    padding: .5rem 1rem;
}

