<html>
// in head tag

<head>
    <title></title>
</head>
<!-- Include Bootstrap -->

// other markup

<body>

// at end of body tag


<div id="app">


    <form v-on:submit="onLoginSubmit" @submit.prevent>

        <input type="password" v-model="password"/>

        <button type="submit">login</button>

    </form>

</div>

<script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>

<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/babel-standalone/6.21.1/babel.min.js"></script>

<script type="text/babel" src="/app.js"></script>

</body>
</html>
